body {
    position: relative;

  }

.row-full {
    padding-top: 3.5rem;
    min-height: 100vh;
}

#landing {
    background: lightgray url("../img/achtergrond.jpg") no-repeat fixed center;
    background-size: cover;
}

#footer {
    text-align: center;
}